@{
    ViewData["Title"] = "Task Organizer";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Please, sign into your account. <a asp-area="" asp-controller="Login" asp-action="Index">Login</a></p>
</div>
